@font-face {
	font-family: 'santana-black';
	src: url('../fonts/Santana-Black.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'santana-black', sans-serif;
}

li {
	list-style: none;
	transition: all 0.2s ease;
}

li:hover {
	cursor: pointer;
	transform: translateY(-5px);
	color: #00754a;
}

/* HEADER */
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);

	padding: 1.5rem 0rem 1.5rem 0rem;
}

.restaurant-name {
	display: block;
	padding: 1.5rem 0rem 1.5rem 0rem;
	font-size: 8rem;
	color: #fff;
}

/* NAVBAR */
.active {
	border-bottom: 2px solid #fff;
}
.active:hover {
	border-bottom: 2px solid #00754a;
}

.navbar {
	display: block;
	border-bottom: 2px solid transparent;
}

.navbar-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.navbar-item {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2rem;
	color: #fff;
	padding: 2rem 2rem 2rem 2rem;
}

/* MAIN */

.main-container {
	margin: 5rem auto;
	background-color: rgba(0, 0, 0, 0.3);
	width: 800px;
	height: 1200px;

	border-radius: 10px;
}

/* FOOTER */

.footer {
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 0.8rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #fff;
	text-align: center;
	padding: 1rem 0rem;
}
